doctype html 
html
    head
        title= username + "'s Profile"

        style
             include ../public/publicprofile.css

        script
             include ../public/publicprofile.js

    body

    .page_box
        .profile_Info
            h2#username= username
            h2= "Posts " + totalPosts
            h2= "Likes " + totalLikes
            
        .posts
            each post in posts
                .userpost
                    .imgCon
                        img(src=post.url alt=post.caption + ' url not loadable')
                    h3.postCaption= post.caption
                    