doctype html 
html
    head
        title= username + "'s Profile"

        style
             include ../public/publicprofile.css
        script
             include ../public/publicprofile.js

    body(style= `background-color: hsl(${profileColor}, 80%, 60%`)

    .page_box
        .profile_Info
            h2#username= username
            h2= "Posts " + totalPosts
            h2= "Likes " + totalLikes
            if signedIn == true
                h2= "Signed In As " + loggedInUN
            else 
                button#signin Sign In To Like Posts
            
        .posts
            each post in posts
                .userpost
                    .imgCon(id=post.id)
                        img.postImg(src=post.url alt=post.caption + ' url not loadable')
                        if signedIn == true && username != loggedInUN && !(post.likes.includes(loggedInId))
                            img.likebuttons(src=('like.png') alt='Like Post')
                    h3.postCaption= post.caption
                    h3.likesCount= post.likes.length + ' Likes'
                    