doctype html 
html
    head
        title= username + "'s Profile"

        style
             include ./user.css

    body

    .page_box
        .profile_Info
            h2= username
            h2= "Posts " + totalPosts
            h2= "Likes " + totalLikes
        
        .createPost
            br
            h2#newposthead Make a new post
            form#newPostForm
                label(for='caption') Caption:
                input#caption.form-control(type='text', placeholder='Image Caption' name='caption')
                br 
                br
                label(for='url') Image Url:
                input#url.form-control(type='text', placeholder='URL To Image' name='url')
                br
                br
                button#picPostBtn(type='submit') Post Your Pic!
            br
        .posts
            each post in posts
                .userpost
                    img(src=post.url alt=post.caption + ' url not loadable' width=300 height=auto)
                    h3= post.caption
        div
        //- - console.log(posts)
        div