doctype html 
html
    head
        title= username + "'s Profile"

        style
             include ./user.css

        script
             include ./user.js

    body

    .page_box
        .profile_Info
            h2= username
            h2= "Posts " + totalPosts
            h2= "Likes " + totalLikes
        
        .createPost
            br
            h2#newposthead Make a new post
            form#newPostForm
                label.lables(for='caption') Caption - 
                input#caption.form-control(type='text', placeholder='Image Caption' name='caption')
                br 
                br
                label.lables(for='url') Image Url - 
                input#url.form-control(type='text', placeholder='URL To Image' name='url')
                br
                br
            button#picPostBtn Post Your Pic!
            br
            br
        .posts
            each post in posts
                .userpost
                    .imgCon
                        img(src=post.url alt=post.caption + ' url not loadable' width=300 height=auto)
                        button.postDeleteBtn Delete
                    h3= post.caption
        div
        //- - console.log(posts)
        div