doctype html 
html
    head
        title= username + "'s Profile"

        style
             include ../public/user.css

        script
             include ../public/user.js

    body

    .page_box
        .profile_Info
            h2#username= username
            h2= "Posts " + totalPosts
            h2= "Likes " + totalLikes
            button#logOutOne Log Out On This Device
            button#logOutAll Log Out On All Devices
        
        .createPost
            br
            h3#postFormErrMsg
            h2#newposthead Make a new post
            form#newPostForm
                label.lables(for='caption') Caption - 
                input#caption.form-control(type='text', placeholder='Image Caption' name='caption')
                br 
                br
                label.lables(for='url') Image Url - 
                input#url.form-control(type='text', placeholder='URL To Image' name='url')
                br
                br
            button#picPostBtn Post Your Pic!
            br
            br
        .posts
            each post in posts
                .userpost
                    .imgCon
                        img(src=post.url alt=post.caption + ' url not loadable')
                        button.postDeleteBtn(id=post.id) Delete
                    h3.postCaption= post.caption
                    button.editPostCap Edit Caption
        if posts.length != 0
            button#deleteAllPostBtn Delete All Post
        else
            h2 You Have No Post, Why Not Find Your Favorite Image Online And Post It!