doctype html 
html
    head
        title= username + "'s Profile"

        style
             include ../public/user.css

        script
             include ../public/user.js

    body

    .page_box
        .profile_Info
            h2#username= username
            h2= "Posts " + totalPosts
            h2= "Likes " + totalLikes
            button#logOutOne Log Out This Device
            button#logOutAll Log Out All Devices
            button#home Back to Homepage
        
        .createPost
            br
            h3#postFormErrMsg
            h2#newposthead Make a new post
            form#newPostForm
                label.lables(for='caption') Caption - 
                input#caption.form-control(type='text', placeholder='Image Caption' name='caption')
                br 
                br
                label.lables(for='url') Image Url - 
                input#url.form-control(type='text', placeholder='URL To Image' name='url')
                br
                br
            button#picPostBtn Post Your Pic!
            br
            br

        .selectAColor
            form#colorChoice
                each i in [ ['Hot-Pink', 317], ['Dragon-Fruit', 333], ['Red', 0], ['Blood-Orange', 17], ['Orange', 30],  ['Orange-Sun', 45], ['Lemon-Sun', 55], ['Yellow', 60], ['Lime-Green', 80], ['Forest-Green', 130], ['Mint-Green', 155], ['Mint-Blue', 170], ['Cyan', 180], ['Sky-Blue', 190], ['Auga', 210], ['Navy-Blue', 245], ['Indigo', 275], ['Purple', 280], ['Lavender', 290], ['Megenta', 300]]
                    input.colorOptions(type='radio' name='profileColor' value=i[1] id=i[0])
                    label.colorLables(for=i[0] style=`background-color: hsl(${i[1]}, 100%, 50%)`)= i[0]
        button#requestColorChange Change Your Color Theme
        .posts
            each post in posts
                .userpost
                    .imgCon
                        img(src=post.url alt=post.caption + ' url not loadable')
                        button.postDeleteBtn(postId=post.id) Delete
                    h3.postCaption= post.caption
                    button.editPostCap(postId=post.id) Edit Caption
        if posts.length != 0
            button#deleteAllPostBtn Delete All Post
        else
            h2 You Have No Post, Why Not Find Your Favorite Image Online And Post It!